.raleway-ff {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

.inter-ff {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}
  
body {
    margin: 0;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-color: #1F2937;
    color: white;
}

header {
    /* background: linear-gradient(-145deg, grey, white, blue); */
    background-color: #465669;
    /* color: white; */
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding-left: 20px;
    padding-right: 20px;
    border-top: solid 10px;
    border-bottom: solid 10px;
    border-image: linear-gradient( to right, #1E2A38 5%, #141c25 50%,#1E2A38 95%) 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    margin: 30px auto;
    padding: 50px 35px;
    border: white solid 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}

.title {
    color: white;
    font-weight: 800;
    /* font-variant: small-caps; */
    margin-bottom: 10px;
    line-height: 2rem;
}

.title span {
    color: #4ADF86;
    /* display: block; */
}

@media (min-width: 450px) {
    .title span {
        display: block;
    }
}

.subtitle {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 200;
}

.divider {
    border-top: #2f435a solid 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    /* width: 200px; */
    padding: 8px 20px;
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-generate {
    color: white;
}

.pw-options {
    display: flex;
    gap: 10px;
}

@media (max-width: 450px) {
    .pw-options {
        display: flex;
        flex-direction: column;
    }
}

.btn-option {
    color: #55F991;
    background-color: #263548;
    font-weight: 400;
    padding: 10px 15px;
}

.copy-pw {
    text-align: center;
    margin-top: 25px;
}

.copy-pw p {
    font-size: .75rem;
}

#pass-wip {
    width: 200px;
    margin: 20px auto;
    text-align: center;
}